{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": "wordpress",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}

